@font-face {
    font-family: ubuntu;
    src: url("Ubuntu-Light.ttf");
}
@font-face {
    font-family: ubuntu-medium;
    src: url("Ubuntu-Medium.ttf");
}
@font-face {
    font-family: ubuntu-bold;
    src: url("Ubuntu-Bold.ttf");
}
@font-face {
    font-family: spacemono;
    src: url("SpaceMono-Regular.ttf");
}
.blog-outer {
    margin-top: 120px;
    /* background-color: red; */
    width: 100vw;
}
.blog-cont {
    /* background-color: green; */
    margin: 0 auto;
    width: 900px;
}
.blog-title {
    display: block;
    font-family: ubuntu-bold;
    font-size: 32px;
}
h2 {
    font-family: ubuntu-medium;
    font-size: 20px;
    margin-top: 32px;
    font-weight: 100;
}
p {
    font-family: ubuntu;
    font-size: 15.5px;
    line-height: 24px;
}
.blog-note {
    background-color: #f4f2d4;
    padding: 15px;
    border-radius: 3px;
    /* box-shadow: 0 0 15px 2px #00000044; */
}
.blog-inline-code {
    display: inline-block;
    background-color: #e4e4e4;
    font-family: spacemono;
    font-size: 14px;
    padding: 2px;
    border-radius: 3px;
}
.blog-block-code {
    display: block;
    background-color: #e4e4e4;
    font-family: spacemono;
    font-size: 14px;
    padding: 15px;
    border-radius: 3px;
    /* box-shadow: 0 0 15px 2px #00000044; */
}
.blog-img {
    display: block;
    margin: 0 auto;
    border-radius: 3px;
    margin-top: 32px;
    box-shadow: 0 0 15px 2px #00000022;
    padding: 5px;
    border: 1px solid #ccc;
}
.blog-link {
    color: #06f;
    border-bottom: 1px solid #0066ff00;
    transition: border-color 0.05s ease-in-out;
}
.blog-link:hover {
    border-bottom: 1px solid #06f;
}
