@font-face {
	font-family: ubuntu;
	src: url("Ubuntu-Regular.ttf");
}
.s {
	/* background-color: red; */
	display: table;
	width: 100vw;
	height: 200px;
}
.s-center {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.s-text {
	font-family: ubuntu;
	font-size: 24px;
	letter-spacing: 1px;
	color: #fff;
	width: 800px;
	/*height: 100px;*/
	/* background-color: green; */
	display: inline-block;
	vertical-align: top;
}
.s1-bg {
    background-image: url("../img/spiral.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.s1-title {
	font-family: main;
	font-size: 48px;
	text-transform: uppercase;
	letter-spacing: 10px;
}
.s1-logo {
	width: 96px;
	height: 96px;
	margin: 10px;
}
.s2-text {
	color: #000;
}