@font-face {
	font-family: ubuntu;
	src: url("Ubuntu-Regular.ttf");
}
.dot-cont {
	position: fixed;
	right: 0;
	top: calc(50vh - 50px);
	height: 100px;
	width: 25px;
	z-index: 11;
}
.dot-click {
	cursor: pointer;
	padding: 10px 0;
}
.dot {
	display: block;
	position: static;
	background-color: #ffffff;
	border: 1px solid #fff;
	border-radius: 50%;
	width: 2px;
	height: 2px;
	margin: 0 4px;
}
.dot-black {
	background-color: #000;
	border: 1px solid #000;
}
.dot-selected {
	background-color: #ffffff00;
	width: 10px;
	height: 10px;
	margin: 0;
}
.s {
	/* background-color: red; */
	display: table;
	width: 100vw;
	height: 200px;
}
.s-center {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.s-text {
	font-family: ubuntu;
	font-size: 24px;
	letter-spacing: 1px;
	color: #fff;
	width: 800px;
	/*height: 100px;*/
	/* background-color: green; */
	display: inline-block;
	vertical-align: top;
}
.bg {
    /* background-image: url("../img/spiral.png"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.s1-title {
	font-family: main;
	font-size: 48px;
	text-transform: uppercase;
	letter-spacing: 10px;
}
.s1-logo {
	width: 96px;
	height: 96px;
	margin: 10px;
}
.s2-text {
	color: #000;
}
